.option {
	position: relative;
}

.option__btn {
	padding: 0;
	border: none;
	background-color: transparent;
	color: var(--color-text-headers);
	cursor: pointer;
	transform: scale(1.2);
}

.option__box {
	position: absolute;
	right: 0;
	top: 0;
	width: max-content;
	margin: 1px;
	padding: 0;
	border-radius: 0.375rem;
	background-color: var(--blue-100);
	transform: translate(50%, 2.1875rem);
	list-style-type: none;
}
