.nav {
	display: flex;
	justify-content: space-evenly;
	gap: 3.75rem;
	padding-right: 6.25rem;
	color: var(--gray-100);
}

.nav__ul {
	display: flex;
	justify-content: flex-end;
	gap: 2.5rem;
	list-style-type: none;
}

.nav__section {
	display: flex;
	align-items: center;
}
