h1,
h2,
h3 {
	/* font-family: 'DynaPuff'; */
	font-family: var(--family-dynapuff);
}

h4,
h5,
h6 {
	font-family: Dynapuff, Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a:link,
a:visited,
a:active {
	text-decoration: none;
}
