.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.875rem;
	background-color: var(--header-bg-color);
}

.header__itemSection {
	display: flex;
	justify-content: end;
}
