:root {
	/* Colors conts */
	/* gray */
	--gray-100: #f8f9fa;

	/* blue */
	--blue-100: #4169e1;
	--blue-200: #1e43b0;

	/* ================ Colors referens ====================*/
	--color-text-headers: var(--gray-100);
}
